<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Legal Service 2</title>
<style type="text/css">
td img {display: block;}
body {
	background-color: #C6C6C6;
}
table,div{font-family: Verdana, Arial, Helvetica, sans-serif;font-size:12px;}

.acymailing_online{color: #5C5C5C;font-weight: bold;}
.acymailing_unsub{color: #5C5C5C;font-weight: bold;}

h1{color:#CDDBAC; text-align:left; font-size:16px;}
h2{ font-size: 16px;font-weight: bold;color:#CDDBAC !important; text-align:left;}

</style>
</head>

<body>
<div style="background-color:#C6C6C6;text-align:center">
  <table width="600" border="0" cellpadding="0" cellspacing="0" style="margin:auto;text-align:left">
   <tr>
	<td width="600" valign="top"><div align="center" style="font-size: 12px; text-align:center; color:#5C5C5C;">
This email contains graphics, so if you don't see them, {readonline}view it in your browser{/readonline}. </div></td>
	</tr>
	<tr>
	<td height="10"></td>
	</tr>
    <tr>
      <td valign="top">
		  <table align="left" border="0" cellpadding="0" cellspacing="0" width="600">
			  <tr>
				<td width="238" style="background-color:#33322F;" rowspan="2"><img src="header_r1_c1.png" width="238" height="410" border="0" alt="" /></td>
				<td width="98" style="background-color:#33322F;" rowspan="2"><img src="header_r1_c2.png" width="98" height="410" border="0" alt="" /></td>
				  <td width="264" height="181" style="background-color:#444846;">
					<h1>TITLE NAME <br /> 
						COMPANY SLOGAN </h1>
				</td>
				</tr>
				<tr>
				  <td width="264" height="229" valign="bottom" style="background-color:#33322F;"><img src="header_r2_c3.png" width="264" height="229" border="0" alt="" /></td>
				</tr>
			  <tr>
				  <td colspan="3" style="background-color:#444846;" valign="top"><img src="header_r3_c1.png" width="600" height="115" border="0" alt="" /></td>
				</tr>
		  </table>
			  
		  </td>
    </tr>
    <tr>
      <td valign="top" style="background-color:#444846; color: #ffffff;">
			<table width="600" border="0" cellpadding="0" cellspacing="0" style="background-color:#444846; color: #ffffff;">
				<tr>
				  <td width="11" ></td>
				  <td width="277">&nbsp;</td>
				  <td width="27">&nbsp;</td>
				  <td width="273">&nbsp;</td>
				  <td width="12"></td>
				</tr>
				<tr>
				  <td width="11" ></td>
				  <td colspan="3" valign="top" style="text-align:left;"><h2>DEAR {subtag:name},</h2></td>
				  <td width="12"></td>
				</tr>
				<tr>
				  <td width="11" ></td>
				  <td width="277" valign="top" style="text-align:left;">
					<p>Su uso se amet, consectetuer adipiscing elit. Sed risus no. Tortor Suspendisse lectus, dignissim sentarse amet, adipiscing ultricies ncop sed, dolor. Elementum cras ultrices diam. Mecenas ligula massa, varius un congue sempre,, euismod no, mi. porttitor PROIN, Orci ncop nonummy molestie, est enim eleifend mi, no nisl diámetro fermentum sentarse erat amet. Duis sempre. Duis massa arcu, scelerisque vitae, en consequat, pretium uno, enim. congue pellentesque. Ut en tempor pharetra risus volutpat líbero.<br />
					  <a href="#"><img src="btn_readmore.png" width="96" height="32" border="0" align="right"  alt="" /></a></p></td>
				  <td width="27">&nbsp;</td>
				  <td width="273" valign="top" style="text-align:left;">Su uso se amet, consectetuer adipiscing elit. Sed risus no. Tortor Suspendisse lectus, dignissim sentarse amet, adipiscing ultricies ncop sed, dolor. Elementum cras ultrices diam. Mecenas ligula massa, varius un congue sempre,, euismod no, mi. porttitor PROIN, Orci ncop nonummy molestie, est enim eleifend mi, no nisl diámetro fermentum sentarse erat amet. Duis sempre. Duis massa arcu, scelerisque vitae, en consequat, pretium uno, enim. congue pellentesque. Ut en tempor pharetra risus volutpat líbero.<br />
					<a href="#"><img src="btn_readmore.png" width="96" height="32" border="0" align="right"  alt="" /></a></td>
				  <td width="12"></td>
            </tr>
            
          </table>
		  <table width="600" border="0" cellpadding="0" cellspacing="0" style="background-color:#444846; color: #ffffff;">
			<tr>
			  <td width="9" >&nbsp;</td>
			  <td width="501">&nbsp;</td>
			  <td width="90">&nbsp;</td>
			</tr>
        <tr>
          <td width="9" >&nbsp;</td>
            <td width="501" valign="top" style="text-align:left;">
			<img src="lineahorizontal.png" width="397" height="19"  alt="" />
			<br /><br />
			<img src="img1.png" width="115" height="89" align="left"  alt="" />Mecenas adipiscing ante sodales diámetro no hendrerit. Ut velita mauris, egestas sed, gesta nec, ut ornare, mi. Aenean ut vel Orci massa<br />
              pulvinar suscipit. Nulla sollicitudin. Fusce varius, lígula tempus no aliquam, nibh nunc ullamcorper turpis, en el eros sapien tempus vitae<br />
            lígula.  <a href="#"><img src="btn_readmore.png" width="96" height="32" border="0" align="right"  alt="" /></a><br />
			
			<br /><br />
			<img src="lineahorizontal.png" width="397" height="19"  alt="" />
			<br />
			<img src="img1.png" width="115" height="89" align="left"  alt="" />Mecenas adipiscing ante sodales diámetro no hendrerit. Ut velita mauris, egestas sed, gesta nec, ut ornare, mi. Aenean ut vel Orci massa<br />
              pulvinar suscipit. Nulla sollicitudin. Fusce varius, lígula tempus no aliquam, nibh nunc ullamcorper turpis, en el eros sapien tempus vitae<br />
            lígula.  <a href="#"><img src="btn_readmore.png" width="96" height="32" border="0" align="right"  alt="" /></a><br />
			<br />
			<br />
			<img src="lineahorizontal.png" width="397" height="19"  alt="" />
			</td>
            <td width="90" style="text-align:right"><img src="dec.png" width="77" height="192"  alt="" align="right" /></td>
        </tr>        
      </table></td>
    </tr>
    <tr>
      <td valign="top">
		<img src="footer.png" width="600" height="143"  alt="" /></td>
    </tr>
    <tr>
      <td height="13"></td>
    </tr>
    <tr>
      <td valign="top"><div style="text-align:center;color: #5C5C5C;">Not interested any more? {unsubscribe}Unsubscribe{/unsubscribe} </div></td>
    </tr>
  </table>
</div>
</body>
</html>
