body{background-color:#C6C6C6} 
h1 { color:#CDDBAC; text-align:left; font-size:16px; } 
h2 { font-size: 16px;font-weight: bold;color:#CDDBAC !important; text-align:left; } 
.acymailing_unsub {color: #5C5C5C;font-weight: bold;} 
.acymailing_online {color: #5C5C5C;font-weight: bold;} 
a img{ border:0px; text-decoration:none;} 

td img {display: block;}
body {
	
}
table,div{font-family: Verdana, Arial, Helvetica, sans-serif;font-size:12px;}



