body{background-color:#BCC7C2} 
h1 { color:#F2F3F1; font-size:16px; text-align:left; } 
h2 { color:#324452 !important; font-weight:bold; text-align:left; font-size:14px; } 
h3 { font-size: 16px;font-weight: bold;color: #CC3300 !important; } 
.acymailing_unsub {color: #5C5C5C;font-weight: bold;} 
.acymailing_online {color: #5C5C5C;font-weight: bold;} 
a img{ border:0px; text-decoration:none;} 

td img {display: block;}

body {
	
}
table,div{font-family: Verdana, Arial, Helvetica, sans-serif;font-size:12px;}




