.username-logged-header {
    cursor: pointer;
    display: block;
    padding-right: 15px;
}

.username-logged-header:hover {
    text-decoration: underline;
    background-color: #F5F5F5;
    background-repeat: repeat-x;
    background: url("/templates/beez3/images/3.0/arrow.png") no-repeat right;

}



.login-link .usermenu-list {
    position: absolute;
    top: 79%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 140px;
    padding: 5px 0;
    margin: 4px 0 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    height: 160px;
}

.login-link .nav:before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0,0,0,0.2);
    content: '';
}

.login-link .nav:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}

.login-link .nav a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    /*color: #333;*/
    white-space: nowrap;
}
.login-link .nav > li {
    position: relative;
}

.login-link .username-logged-header:hover > .usermenu-list,
.login-link .username-logged-header:focus + .usermenu-list {
    display: block;
}


.usermenu-list ul.menu {
    padding-left: 0px !important;
    top:0px !important;
    display: block;
}

.gf-menu-toggle {
    display: none !important;
}

.rt-container .rt-omega {
    /*border: 1px solid red;*/
}

.rt-container .three-blocks {
    margin: 0px !important;
}

.cloud-login-block {
    right: 0px;
    text-align: right;
    padding-right: 0px !important;
    margin-right: 18px !important;
}

.three-blocks .gantry-width-spacer {
    margin-left: 0px;
}

.three-blocks .largemarginright {
    margin-right: 43px ;
}

.three-blocks .gantry-width-30 {
    width: 25%;
}

.gf-menu.l1 > li > .item {
    text-transform: none !important;
    font-size: 14px;
}

.blog-featured .items-leading {
    margin-bottom: 0px !important;
}

.rt-border-right:before, .rt-border-right:after {
    right: -11px !important;
}

.gf-menu .level2 .item {

}

#system-message .alert {
    background: #f3f3f3 !important;
    border: 0px !important;
    color: #252e35 !important;


}