body {

    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    background-color: #252D35;

}


header {
    display: block;
}

#remotes video {
    height: 320px;
    margin-left: 10px;
    margin-bottom: 25px;
}

#localVideo {
    margin-left: 20px;
}

#rt-top-surround {
    background: #252D35;
    color: #C7C7C7;
}
.logo-block {
    padding: 0;
    padding: 18px 15px;
}

#rt-logo {
    width: 255px;
    height: 50px;
    display: block;
}

#rt-logo {
    background: url("../images/logo.png") 50% 0 no-repeat !important;
    float: left;
}


#localVideo {
    height: 213px !important;
    float: left !important;
    margin-left: 10px;
}



#imgVideo {
    height: 17px;
    position: absolute;
    top: 46px;
    left: 39px;
}

#imgAudio {
    height: 20px;
    position: absolute;
    top: 45px;
    left: 96px;
}

#imgAudio, #imgVideo {
    OPACITY: .4;
    cursor: pointer;
    transition: all .3s;
    -webkit-transition: all .3s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

#vidCtrls {
    opacity: 0;
    position: absolute;
    bottom: 190px;
    z-index: 2;
    left: 25px;
    padding: 5px;
}

#vidCtrls:hover {
    cursor: pointer;
}

.OT_video-poster {
    background-image: url("../img/audioonly-publisher.png");
}

.OT_video-poster {
    width: 284px;
    height: 213px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: none;
    margin-left: 10px;
    position: relative;
    background-color: black;
}


.volume-control {
    display: none;
    margin-top: -55px;
    padding-left: 290px;
}

#remotes section {
    width: 150px;
    height: 40px;
    left:-150px;
    position: relative;
    display: block;
}



#remotes .slider{
    border-width: 1px;
    border-style: solid;
    border-color: #333 #333 #777 #333;
    border-radius: 25px;
    width: 100px;
    position: absolute;
    height: 13px;
    background-color: #8e8d8d;
    background: url("../img/bg-track.png") repeat top left;
    box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0, .5),
    0 1px 0 0px rgba(250, 250, 250, .5);
    left: 20px;
}
#remotes .tooltip {
    position: absolute;
    display: block;
    top: -25px;
    width: 35px;
    height: 20px;
    color: #fff;
    text-align: center;
    font: 10pt Tahoma, Arial, sans-serif ;
    border-radius: 3px;
    border: 1px solid #333;
    -webkit-box-shadow:  1px 1px 2px 0px rgba(0, 0, 0, .3);
    box-shadow:  1px 1px 2px 0px rgba(0, 0, 0, .3);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: -moz-linear-gradient(top,  rgba(69,72,77,0.5) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,0.5)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8045484d', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
}
#remotes .volume {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    right: -5px;
    background: url('../img/volume.png') no-repeat 0 -50px;
    position: absolute;
    margin-top: -5px;
}

#remotes .tooltip {
    position: absolute;
    display: block;
    top: -25px;
    width: 35px;
    height: 20px;
    color: #fff;
    text-align: center;
    font: 10pt Tahoma, Arial, sans-serif ;
    border-radius: 3px;
    border: 1px solid #333;
    -webkit-box-shadow:  1px 1px 2px 0px rgba(0, 0, 0, .3);
    box-shadow:  1px 1px 2px 0px rgba(0, 0, 0, .3);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: -moz-linear-gradient(top,  rgba(69,72,77,0.5) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,0.5)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8045484d', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
}
#remotes .volume {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    /*right: -5px;*/
    background: url('../img/volume.png') no-repeat 0 -50px;
    position: absolute;
    /*margin-top: -5px;*/
}
#remotes .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 26px;
    height: 19px;
    cursor: pointer;
    background: url('../img/handle.png') no-repeat 50% 50%;
    font-weight: bold;
    color: #1C94C4;
    outline: none;
    top: -4px;
    margin-left: -12px;
}
#remotes .ui-slider-range {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #eaeaea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* IE10+ */
    background: linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
    position: absolute;
    border: 0;
    top: 0;
    height: 100%;
    border-radius: 25px;
}

#defaultCountdown {
    height: 44px;
    width: 105px;
    float: right;
    padding: 0 25px;
    border-radius: 4px;

}

#defaultCountdown span {
    color: #666A6E;
    text-transform: none !important;
    font-size: 14px;
    line-height: 44px;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-weight: normal;

}

.chat {
    margin: 0px 0px 0px 100px;
}

.chat #log {
    width: 290px;
    height: 110px;
    border: 1px solid rgb(192, 192, 192);
    padding: 5px;
    margin-bottom: 5px;
    font: 11pt 'Palatino Linotype';
    overflow: auto;
    background-color: #ffffff;
}

.chat #input {
    width: 243px;
}
.chat #send {
    width: 50px;
}

.timeIsOutText {
   float: right;
   padding: 14px 10px 0px 0px;
}
