.earth {
    width: 18px;
    height: 18px;
    background: url("../images/earth.png");
    cursor: pointer;
    display: block;

    position: absolute;
    right: 48px;
    top: 33px;
}

.ListWithLanguages {
    display: none;
}

.mod-languages {
    width: 28px;
    height: 42px;
    cursor: pointer;

    display: block;
    position: absolute;
    right: 42px;
    top: 60px;

    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

    list-style: none outside none;

    z-index: 1000;
}

.lang-block:before {
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block;
    left: 7px;
    position: absolute;
    top: -7px;
}
.lang-block:after {
    border-bottom: 6px solid #FFFFFF;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    left: 8px;
    position: absolute;
    top: -6px;
}
