<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Technology 2</title>
<style type="text/css">
td img {display: block;}
body {
	background-color: #B0B1A9;
}
table,div{font-family: Verdana, Arial, Helvetica, sans-serif;font-size:12px;}
h1{color:#ABE4E3;font-size:18px;}
h2{font-size: 16px; font-weight: bold; color:#66CC00 !important; text-align:left;}
.acymailing_online{color: #5C5C5C;font-weight: bold;}
.acymailing_unsub{color: #5C5C5C;font-weight: bold;}

</style>
</head>

<body>
<div style="text-align:center;background-color:#B0B1A9;">
  <table width="600" border="0" cellpadding="0" cellspacing="0" style="margin:auto;text-align:left">
   <tr>
	<td height="14" valign="top"><div align="center" style="text-align:center; color:#5C5C5C;">
This email contains graphics, so if you don't see them, {readonline}view it in your browser{/readonline}.<br /></div></td>
	</tr>
    <tr style="background-color:#3D3E41;">
      <td width="600" valign="top">
		<table style="background-color:#3D3E41;" border="0" cellpadding="0" cellspacing="0" >
			<tr>
				<td width="14" height="89"></td>
				<td width="376"><img name="header_r1_c1" src="header_r1_c1.png" width="319" height="89" border="0" id="header_r1_c1" alt="" /></td>
				<td width="210" rowspan="2"><img name="header_r1_c2" src="header_r1_c2.png" width="210" height="276" border="0" id="header_r1_c2" alt="" /></td>
			</tr>
			<tr>
				<td width="14"></td>
				<td width="376" style="text-align:left;color:#F1F5F5;">
					<h1>TITLE NAME <br /> COMPANY SLOGAN</h1>
					Aliquam euismod eu libero enim. felis Nulla ncop sed imperdiet placerat leo. Aenean nulla suscipit Justo en. cursus Suspendisse rutrum augue. Nulla 
				</td>
			</tr>
		</table>
	  </td>
	 </tr>
	<tr style="line-height:0px;background-color:#313235;">
		<td width="600" style="line-height:0px;">
			<img name="header_r3_c1" src="header_r3_c1.png" width="600" height="140" border="0" id="header_r3_c1" alt="" />
		</td>
	</tr>
    <tr>
      <td valign="top">
		<table width="100%" border="0" cellpadding="0" cellspacing="0" style="background-color:#313235; color:#F1F5F5;">
        <tr>
          <td width="17" height="15"></td>
            <td width="268"></td>
            <td width="21"></td>
            <td width="279"></td>
            <td width="15"></td>
          </tr>
        <tr>
          <td width="17">&nbsp;</td>
            <td width="268" valign="top" style="text-align:left;"><h2>DEAR {subtag:name},</h2>
              <p>Ut en tempor pharetra risus volutpat líbero.<br />
                vestíbulo cras bibendum augue. Praesent egestas leo en pede. Praesent blandit odio enim eu. Pellentesque sed ut dui augue sodales blandit.Ipsum primis vestíbulo ante en faucibus Orci luctus et ultrices posuere<br />
                cubilia Curae; nibh aliquam. mauris Mauris sed ac pede pellentesque<br />
                fermentum. Mecenas adipiscing ante sodales diámetro no hendrerit. Ut velita<br />
                mauris, egestas sed, gesta nec, ut ornare, mi. Aenean ut vel Orci massa<br />
                pulvinar suscipit. Nulla sollicitudin. </p>
              <p>&nbsp;</p>              <p>Fusce varius, lígula tempus no<br />
                aliquam, nibh nunc ullamcorper turpis, en el eros sapien tempus vitae lígula. Pellentesque rhoncus et nunc augue. Entero id felis. Curabitur diam pellentesque aliquet. Entero quis metus vitae elit lobortis<br />
                egestas. Su uso se amet, consectetuer adipiscing elit. Morbi erat vel no convallis mauris vehicula. Nulla et sapiens. Entero Tortor tellus, faucibus aliquam, convallis id, eu congue, quam. Mauris<br />
                felis ullamcorper vitae erat. feugiat PROIN, posuere augue Elementum no,<br />
                metus lectus iaculis purus, et Tristique ligula Justo vitae magna.</p>
              <p>LOREP IPSUM DOLOR</p>
              <p>Aliquam euismod eu libero<br />
                enim. felis Nulla ncop sed imperdiet placerat leo. Aenean nulla suscipit Justo en. cursus Suspendisse rutrum augue. Nulla mi tincidunt tincidunt.<br />
                iaculis Curabitur,<br />
                <br />
                <a href="#"><img src="btn_readmore.png" width="80" height="27" border="0" align="right"  alt="" /></a><br />
                      </p></td>
            <td width="21">&nbsp;</td>
            <td width="279" valign="top" style="text-align:left;">Ut en tempor pharetra risus volutpat líbero.<br />
              vestíbulo cras bibendum augue. Praesent egestas leo en pede. Praesent blandit odio enim eu. Pellentesque sed ut dui augue sodales blandit.Ipsum primis vestíbulo ante en faucibus Orci luctus et ultrices posuere<br />
              cubilia Curae; nibh aliquam. mauris Mauris sed ac pede pellentesque<br />
              fermentum. Mecenas adipiscing ante sodales diámetro no hendrerit. Ut velita<br />
              mauris, egestas sed, gesta nec, ut ornare, mi. Aenean ut vel Orci massa<br />
            pulvinar suscipit. Nulla sollicitudin. <br />
			<img src="lineahorizontal.png" width="279" height="19"  alt="" />
			<br />
			<p><img src="img1.png" width="111" height="75" align="right"  alt="" />Aliquam convallis purus sollicitudin. aliquam Praesent, enim en fermentum mollis, lígula nisl adipiscing massa, nibh euismod ca eu lectus nisl.<br />
              Fusce vulputate sem en sapien. Vivamus leo.</p>
              <p><a href="#"><img src="btn_readmore.png" width="80" height="27" border="0" align="right"  alt="" /></a></p>            <p><br />
            </p>
			<br />
			<img src="lineahorizontal.png" width="279" height="19"  alt="" />
			<br />
			<p><img src="img1.png" width="111" height="75" align="right"  alt="" />Aliquam convallis purus sollicitudin. aliquam Praesent, enim en fermentum mollis, lígula nisl adipiscing massa, nibh euismod ca eu lectus nisl.<br />
                Fusce vulputate sem en sapien. Vivamus leo.</p>
              <p><a href="#"><img src="btn_readmore.png" width="80" height="27" border="0" align="right"  alt="" /></a></p>            <p><br />
            </p>
			<br/>
			<img src="lineahorizontal.png" width="279" height="19"  alt="" />
			<br/>
			</td>
            <td width="15">&nbsp;</td>
          </tr>
      </table></td>
    </tr>
    <tr>
      <td height="126" valign="top"><img src="footer.png" width="600" height="113"  alt="" /></td>
    </tr>
    <tr>
      <td height="24">&nbsp;</td>
    </tr>
    <tr>
      <td height="14" valign="top"><div style="font-size: 12px; text-align:center;color: #5C5C5C;">Not interested any more? {unsubscribe}Unsubscribe{/unsubscribe} </div></td>
    </tr>
  </table>
</div>
</body>
</html>
